.shopping-cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto; /* Vertical scroll if content is large */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
    color: #161f26;
}

.open {
    display: block;
}

.shopping-cart-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px; /* Fixed width */
    height: 100vh; /* Full height */
    background-color: rgba(255, 255, 255, 0.8); /* White background with transparency */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Vertical scroll if content is large */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.shopping-cart h2 {
    color: #161f26;
    text-align: center;
    margin-bottom: 50px;
}

.shopping-cart h3 {
    margin-top: 100px;
}

.shopping-cart ul {
    list-style-type: none;
    padding: 0;
}

.shopping-cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: #161f26;
}

.shopping-cart button {
    margin-left: 10px;
}

.shopping-cart input {
    width: 50px;
}

.close-button {
    float: right;
}

div .buy {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #834321;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}